---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import BlogPosts from "@components/BlogPosts.astro";
import Lines from "@components/Lines.astro";
import H1 from "@components/H1.astro";
import Subtitle from "@components/Subtitle.astro";
import Button from "@components/Button.astro";
import Prelude from "@components/Prelude.astro";

import accents from "@config/accents.json";

const posts = (await getCollection("posts")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = "Blog";
const accent = accents[title];
---

<Base title={title} accent={accent}>
  <Lines>
    <Prelude>len(posts)=={posts.length}</Prelude>
    <Subtitle accent={accent}>ALL BLOG POSTS</Subtitle>
    <Lines>
      <H1> Blog </H1>
    </Lines>
    <Lines add={["mt-10"]}>
      <div class="mx-4">
        <Button href="/blog/tags">Filter by tag</Button>
      </div>
    </Lines>
    <BlogPosts posts={posts} accent={accent} />
  </Lines>
</Base>
