---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import BlogPosts from "@components/BlogPosts.astro";
import Button from "@components/Button.astro";
import H1 from "@components/H1.astro";
import Lines from "@components/Lines.astro";

import accents from "@config/accents.json";
const title = "Tags";
const accent = accents[title];

export async function getStaticPaths() {
    const allPosts = (await getCollection("posts")).sort((a, b) => b.data.pubDate - a.data.pubDate);
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag: string) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title={title} accent={accent}>
    <H1>
        <span class=`text-${accent} dark:text-${accent}Dark`>{tag}</span> Posts
        <span class="text-muted dark:text-mutedDark">({posts.length})</span>
    </H1>
    <BlogPosts posts={posts} tagFilter={tag} />
    <Lines>
        <div class="flex text-center gap-4">
            <Button href="/blog" color={accents["Blog"]} icon="mdi:tag-off">Clear filter</Button>
            <Button href="/tags" color={accents["Tags"]} icon="mdi:tag">Tags</Button>
        </div>
    </Lines>
</Base>
