---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
import H1 from "@components/H1.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
import page_colors from "@config/page_colors.json";
const title = "Tags";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
    <H1>
        Tags
        <span class="text-muted dark:text-mutedDark">({tags.length})</span>
    </H1>
    <Section>
        <div class="flex flex-wrap gap-4 uppercase">
            {
                tags.map((tag) => (
                    <Button href={`/tags/${tag}`} color={accent} icon="mdi:tag">
                        {tag}
                    </Button>
                ))
            }
        </div>
    </Section>
    <Section>
        <div class="flex text-center gap-4">
            <Button href="/blog" color={page_colors["Blog"]} icon="mdi:tag-off">All Posts</Button>
        </div>
    </Section>
</Base>
