---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import BlogPosts from "@components/BlogPosts.astro";
import Button from "@components/Button.astro";
import Section from "@components/Section.astro";
import H1 from "@components/H1.astro";
import page_colors from "@config/page_colors.json";
const posts = (await getCollection("posts")).sort((a, b) => b.data.pubDate - a.data.pubDate);
const title = "Blog";
const accent = page_colors[title];
---

<Base title={title} accent={accent}>
  <H1>
    <span class=`text-${accent} dark:text-${accent}Dark`>All</span> Posts
    <span class="text-muted dark:text-mutedDark">({posts.length})</span>
  </H1>
  <BlogPosts posts={posts} />
  <Section>
    <div class="flex text-center gap-4">
      <Button href="/tags" color={page_colors["Tags"]} icon="mdi:tag">Tags</Button>
    </div>
  </Section>
</Base>
