---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Base from "@layouts/Base.astro";
import Button from "@components/Button.astro";
import Section from "@components/Section.astro";
import P from "@components/P.astro";
import me from "@img/me.jpg";
import page_colors from "@config/page_colors.json";
const title = "About";
const accent = page_colors[title];

const icons = [
    {
        name: "Email",
        url: "mailto: contact.sschleemilch@posteo.net",
        icon: "email",
        aria: "Email",
    },
    {
        name: "GitHub",
        url: "https://github.com/sschleemilch",
        icon: "github",
    },
    {
        name: "LinkedIn",
        url: "https://de.linkedin.com/in/sschleemilch",
        icon: "linkedin",
    },
];
---

<Base title={title} accent={accent}>
    <div>
        <Section accent={accent} meta="Sebastian Schleemilch" title="Hello, friend" details={["PORTFOLIO", "BLOG"]}>
            <div class="flex justify-center">
                <div class="flex flex-col items-center dark:bg-white/10">
                    <Image src={me} alt="Me" loading="eager" class="max-w-48 grayscale-50" />
                    <div class="mt-4 mb-4 flex text-2xl items-center justify-center gap-4">
                        {
                            icons.map((item) => (
                                <a
                                    href={item.url}
                                    aria-label={item.name}
                                    class="hover:text-text dark:hover:text-textDark"
                                >
                                    <Icon name={`mdi:${item.icon}`} />
                                </a>
                            ))
                        }
                    </div>
                </div>
                <P>
                    Welcome to my corner of the internet!<br />
                    I am a passionate Software Researcher exploring the vast landscape of software technologies. This space
                    serves as a blog, showcasing my interests and projects that I believe are worth sharing.
                </P>
            </div>
        </Section>
        <Button href="/blog" color={page_colors["Blog"]} icon="mdi:text-box-multiple">Blog</Button>
        <Button href="/tags" color={page_colors["Tags"]} icon="mdi:tag">Tags</Button>
    </div>
</Base>
