---
import { Image } from "astro:assets";
import Base from "@layouts/Base.astro";
import Lines from "@components/Lines.astro";
import Details from "@components/Details.astro";
import P from "@components/P.astro";
import H1 from "@components/H1.astro";
import H2 from "@components/H2.astro";
import me from "@img/me.jpg";
import accents from "@config/accents.json";
import Subtitle from "@components/Subtitle.astro";

const title = "About";
const accent = accents[title];

function calculateAge(birthDate: Date): number {
    const today = new Date();
    const birthYear = birthDate.getFullYear();
    const currentYear = today.getFullYear();

    let age = currentYear - birthYear;

    const birthMonth = birthDate.getMonth();
    const currentMonth = today.getMonth();
    const birthDay = birthDate.getDate();
    const currentDay = today.getDate();

    if (currentMonth < birthMonth || (currentMonth === birthMonth && currentDay < birthDay)) {
        age--;
    }

    return age;
}

const age = calculateAge(new Date("1989-09-04"));
---

<Base title={title} accent={accent}>
    <Lines>
        <Lines before={false}>
            <H1>Hello, friend</H1>
        </Lines>

        <Lines add={["mt-12"]}>
            <H2> Welcome to my corner! </H2>
        </Lines>

        <Details add={["mt-12"]}>portfolio::blog</Details>
        <Lines>
            <P add={["max-w-(--breakpoint-md)", "px-2"]}>
                I am a passionate software enthusiast exploring the vast landscape of software and everything around.
                This space serves as a blog, showcasing my interests and projects that I believe are worth sharing.
                Enjoy your stay.
            </P>
        </Lines>

        <Details add={["mt-12"]}>age: {age}, Residency: Munich</Details>
        <Lines>
            <Subtitle accent={accent}>Sebastian Schleemilch</Subtitle>
            <Image src={me} alt="Me" loading="eager" class="size-60" />
        </Lines>
    </Lines>
</Base>
