---
interface Props {
  value: string;
  tagFilter?: string | undefined;
}

import page_colors from "@config/page_colors.json";
const accent = page_colors["Tags"];

const { value } = Astro.props;
var color = "subtle";

if (Astro.props.tagFilter != undefined) {
  if (Astro.props.tagFilter == value) {
    color = accent;
  }
}

var textClasses = `text-${color} dark:text-${color}Dark`;
---

<a href={`/tags/${value}`} class=`${textClasses} hover:text-text dark:hover:text-textDark`>
  <p>
    #{value}
  </p>
</a>
