---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import BlogPosts from "@components/BlogPosts.astro";
import H1 from "@components/H1.astro";
import Lines from "@components/Lines.astro";
import Subtitle from "@components/Subtitle.astro";
import Prelude from "@components/Prelude.astro";
import Button from "@components/Button.astro";

import accents from "@config/accents.json";
const title = "Tags";
const accent = accents[title];

export async function getStaticPaths() {
    const allPosts = (await getCollection("posts")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag: string) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title={title} accent={accent}>
    <Lines>
        <Prelude>len(posts)=={posts.length}</Prelude>
        <Subtitle accent={accent}>{tag} BLOG POSTS</Subtitle>
        <Lines>
            <H1> Blog </H1>
        </Lines>
        <Lines add={["mt-10"]}>
            <div class="mx-2">
                <div class="flex flex-nowrap gap-4">
                    <Button href="/blog/tags">Filter by tag</Button>
                    <Button href="/blog">Show all</Button>
                </div>
            </div>
        </Lines>
        <BlogPosts posts={posts} accent={accent} />
    </Lines>
</Base>
